.btn-primary {
  background-color: var(--background-color-btn);
  width: 100%;
  max-width: 350px;
  height: 55px;
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-subtitle);
  border: none;
  border-radius: 15px;
  padding: 0;
}