.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-primary);
}

.header-info {
  display: flex;
  width: 400px;
}

.header-nav {
  display: flex;
  width: 300px;
}

.header-nav div a:hover {
  color: var(--color-hover);
  opacity: .8;
}

.header-info div,
.header-nav div {
  display: flex;
  padding: 5px 0 5px 30px;
}

.header-info div p,
.header-nav div a {
  padding-left: 10px;
  color: var(--color-primary);
}

.header-info div p a {
  color: var(--color-primary);
}

.header-info div p a:hover {
  color: var(--color-hover);
}

.header-logo a {
  font-family: var(--font-family-logo);
  color: var(--color-primary);
  font-size: 50px;
  width: 740px;
  text-transform: uppercase;
  position: absolute;
  left: calc((100% - 740px)/2);
  top: calc((100% - 56px)/2);
}