<form action="#" class="index-form" id="login-form" method="POST">
  <h3 class="text-title">Log In</h3>
  <div class="index-form-group">
    <label for="login-email" class="text-subtitle">Your Email</label>
    <i class="fa-solid fa-user"></i>
    <input type="text" id="login-email" placeholder="nquan1007@gmail.com" />
    <i class="fa-solid fa-circle-exclamation failure-icon"></i>
    <i class="fa-sharp fa-solid fa-circle-check success-icon"></i>
    <p class="index-form-message"></p>
  </div>
  <div class="index-form-group">
    <label for="login-password" class="text-subtitle">Password</label>
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="login-password"
      placeholder="Enter your password here"
    />
    <i class="fa-solid fa-circle-exclamation failure-icon"></i>
    <i class="fa-sharp fa-solid fa-circle-check success-icon"></i>
    <p class="index-form-message"></p>
  </div>
  <button class="btn-submit" id="btn-login-submit">Log In</button>
  <p>Not already have an account yet? Please</a></p>
  <button class="btn-redirect" id="btn-login-redirect">Register</button>
</form>
