<form action="#" class="index-form" id="login-form" method="POST">
  <h3 class="text-title">Log In</h3>
  <div class="index-form-group">
    <label for="login-email" class="text-subtitle">Your Email <span class="label-star">*</span></label>
    <i class="fa-solid fa-envelope form-symbol"></i>
    <input type="text" id="login-email" placeholder="nquan1007@gmail.com" />
    <p class="index-form-message"></p>
  </div>
  <div class="index-form-group">
    <label for="login-password" class="text-subtitle">Password <span class="label-star">*</span></label>
    <i class="fa-solid fa-lock form-symbol"></i>
    <input
      type="password"
      id="login-password"
      placeholder="Enter your password here"
    />
    <p class="index-form-message"></p>
  </div>
  <button type="submit" class="btn-submit">Log In</button>
  <p>Not already have an account yet? Please</a></p>
  <button class="btn-redirect" id="btn-login-redirect">Register</button>
</form>
