<form action="#" class="form" id="productForm" method="POST">
  <h3 class="text-title" id="productTitle">Add New Product</h3>
  <div class="form-group">
    <label for="add-name" class="text-subtitle"
      >Name <span class="label-star">*</span></label
    >
    <i class="fa-brands fa-ethereum form-symbol"></i>
    <input type="text" name="product-name" placeholder="Jordan 1" />
    <p class="form-message"></p>
  </div>
  <div class="form-group">
    <label for="add-price" class="text-subtitle"
      >Price <span class="label-star">*</span></label
    >
    <i class="fa-solid fa-tag form-symbol"></i>
    <input type="number" name="product-price" placeholder="2500000" />
    <p class="form-message"></p>
  </div>
  <div class="form-group">
    <label for="add-image" class="text-subtitle"
      >Image <span class="label-star">*</span></label
    >
    <img class="preview-image" />
    <input type="file" name="product-image" />
    <p class="form-message"></p>
  </div>
  <div class="form-group">
    <label for="add-description" class="text-subtitle">Description</label>
    <textarea
      name="product-description"
      placeholder="Add some information about this product"
      maxlength="130"
    ></textarea>
    <p class="form-message"></p>
  </div>
  <button type="submit" class="btn-submit" id="btnSubmit">Submit</button>
</form>
