.homepage {
  height: 100vh;
  background-image: url(../../assets/images/homepage-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
