:root {
  /* font family */
  --font-family-primary: Barlow;

  /* font size */
  --font-size-title: 48px;
  --font-size-subtitle: 25px;
  --font-size-primary: 16px;
  --font-size-secondary: 24px;

  /* font weight */
  --font-weight-title: 800;
  --font-weight-subtitle: 600;
  --font-weight-primary: 400;

  /* line height */
  --line-height-title: 56px;
  --line-height-subtitle: 40px;
  --line-height-primary: 32px;

  /* color */
  --color-primary: #141414;
  --color-secondary: #000000;

  /* background-color */
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f2ea;
  --background-color-btn: #fdc886;
}