:root {
  /* font family */
  --font-family-primary: Epilogue;

  /** font size **/
  --font-size-logo: 50px;
  --font-size-title: 40px;
  --font-size-subtitle: 20px;
  --font-size-primary: 16px;
  --font-size-secondary: 22px;
  --font-size-tertiary: 25px;
  --font-size-hover: 19px;

  /* font weight */
  --font-weight-logo: 100;
  --font-weight-title: 700;
  --font-weight-subtitle: 500;
  --font-weight-primary: 300;

  /* line height */
  --line-height-logo: 60px;
  --line-height-title: 65px;
  --line-height-subtitle: 50px;
  --line-height-primary: 40px;

  /* color */
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-footer: #a1a0a0;
  --color-box-shadow: #999;
  --color-active: #666;
  --color-hover: #a7d4a8;
  --color-success: green;
  --color-error: red;

  /* background-color */
  --bg-color-header: #0E2432;
  --bg-color-footer: #1b1b1b;
  --bg-btn-hover: #04AA6D;
}