@font-face {
  font-family: Barlow;
  src: url(/src/assets/fonts/BarlowSemiCondensed-Black.ttf);
}

@font-face {
  font-family: Spritendo;
  src: url(/src/assets/fonts/RoSpritendoSemiboldBeta-vmVwZ.otf);
}