@font-face {
  font-family: Barlow;
  src: url(/src/assets/font/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: Spritendo;
  src: url(/src/assets/font/RoSpritendoSemiboldBeta-vmVwZ.otf);
}