.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-info {
  display: flex;
  width:400px;
}

.header-info div {
  display: flex;
  padding: 5px 0 5px 30px;
}

.header-info div p {
  padding-left: 10px;
}

.header-logo a {
  font-family: var(--font-family-logo);
  color: var(--color-primary);
  font-size: 50px;
  width: 740px;
  text-transform: uppercase;
  position: absolute;
  left: calc((100% - 740px)/2);
  top: calc((100% - 56px)/2);
}