.index-form {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  color: var(--color-secondary);
  width: 500px;
}

.index-form-group {
  position: relative;
  padding-bottom: 25px;
}

.index-form-group label span {
  color: var(--color-error);
}

.index-form-group input {
  width: 100%;
  height: 40px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  padding: 3px 0 3px 40px;
  border-radius: 10px;
}

.error {
  border: 2px solid var(--color-error);
}

.success {
  border: 2px solid var(--color-success);
}

.index-form-group i {
  position: absolute;
  padding: 10px 15px;
  font-size: var(--font-size-secondary);
}

.index-form-message {
  color: var(--color-error);
  position: absolute;
  bottom: 0;
}

.btn-submit {
  margin: 0 auto;
  background-color: var(--bg-color-header);
  color: var(--color-primary);
  width: 250px;
  height: 45px;
  font-weight: var(--font-weight-subtitle);
  font-size: var(--font-size-tertiary);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  letter-spacing: 1px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-redirect {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--bg-color-footer);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  font-size: var(--font-size-secondary);

}

.index-form p {
  margin-top: 15px;
  text-align: center;
}

/* Default: Login Form is hidden */
#login-form {
  display: none;
}